*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
    background: #fff;
}
a{
    font-size: 1.2em;
    color: #999;
    text-decoration-color: lightblue;
}
header{
    height: 10vh;
    background: linear-gradient(180deg, lightblue, #fff);
    position: sticky;
    top: 0;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    height: 100%;

}
.banner > h3{
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    font-size: 1.1em;
    letter-spacing: .1em;
    color: #000;
}
.side-nav{
    background: #555;
    border-radius: 50%;
    height: .2em;
    width: .2em;
    justify-self: flex-start;
    align-self: center;
    position: relative;
}
.side-nav::before,
.side-nav::after{
    content: '';
    background: #555;
    border-radius: 50%;
    height: .2em;
    width: .2em;
    position: absolute;
}
.side-nav::before{
    transform: translateY(10px);
}
.side-nav::after{
    transform: translateY(-10px);
}
.mobile-menu{
    position: absolute;
    height: 50vh;
    width: 100vw;
    background: #fff;
    display: none;
}
.mobile-menu > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mobile-menu > ul li{
    list-style: none;
    font-size: 1.8em;
    color: #000;
    padding: 1em;
}
.mobile-menu::after{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #fff, lightblue);
    width: 100%;
    height: 50vh;
}
.date > h1{
    text-align: center;
}
.section-c,
.section-b,
.section-a{
    display: flex;
    flex-direction: column;
}
.mobile-artist{
    padding: 1em;
}
.mobile-artist > h1{
    font-size: 1.1em;
}
.art-desc{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.art-desc > h1{
    font-size: 1.5em;
}
.art-desc > h2{
    font-size: 1.17em;
    font-weight: 100;
    margin-bottom: .5em;
}
.art-desc > h3{
    font-weight: 100;
}
.art-desc > p{
    font-size: 1em;
}
.art-desc > a{
    margin-bottom: 1em;
}
img{
    max-width: 100%;
    width: 100%;
}
/* fullscreen images  */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
}
.overlay img{
    max-width: 99%;
    max-height: 99%;
    width: auto;
    height: auto;
    transform: scale(.95);
    transition: scale 1s;

}
.overlay:target{
    visibility: visible;
    outline: none;
    cursor: default;
    opacity: 1;

}
.overlay:target img{
    transform: scale(1);
}
footer{
    background: linear-gradient(0deg, lightblue, #fff);
    border-radius: 12px;
}
footer > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    color: #fff;
}
footer > ul li{
    list-style: none;
    font-size: 1.4em;
    justify-self: center;
    grid-column: 1/3;

}
#onk-footer{
    grid-column: 1/3;
}
.desk{
    display: none;
}
.mobile{
    display: inherit;
}
.contact{
    width: 30%;
    align-self: center;
}
.mobile-artist{
    /* display: none; */
}
.contacts{
    display: flex;

}
.contacts li{
    padding-right: .5em;
}
.artist-list ul li .contacts li a{
    color: #666;
}
.subscribe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.1em;
}
.artist-list{
    grid-column: 1/4;
    background: linear-gradient(45deg, #eee, lightblue);
    border-radius: 12px;
    padding: 1em;
}
.artist-list > ul li{
    list-style: none;
    padding-bottom: .5em;
}
.artist-list ul li a{
    color: #222;
}
form{
    grid-column: 1/4;
    background: linear-gradient(45deg, #eee, lightblue);
    border-radius: 12px;
    padding: 1em;
}
.site-info{
    grid-column: 1/4;
    background: linear-gradient(45deg, #eee, lightblue);
    border-radius: 12px;
    padding: 1em;
}
.site-info > ul li{
    list-style: none;
}
/* DESKTOP  */
@media screen and (min-width: 768px){
    .artist-list{
        grid-column: 1/2;
    }
    form{
        grid-column: 2/3;
    }
    .site-info{
        grid-column: 3/4;
    }
    .mobile{
        display:none;
    }
    .desk{
        display: inherit;
        width: 50%;
        
    }
    
    body{
        background: #eee;
    }
    header{
        position: relative;
        margin-bottom: 1em;
        background: linear-gradient(180deg, lightblue, #eee);

    }
    .banner{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        height: 100%;
    }

    .banner > h3{
        grid-column: 2/4;
        align-self: center;
        font-size: 3em;
        letter-spacing: 1em;
        color: #fff;
    }
    .banner > h3:hover{
        cursor: pointer;
    }
    .side-nav{
        display: none;
    }
    .mobile-artist{
        display: none;
    }
    /* MAIN CONTENT  */
    .section-c,
    .section-b,
    .section-a,
    .section-a-page{
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 2fr;
        gap: 1em;
        margin-bottom: 1em;
    }
    .section-c > .art-desc,
    .section-b > .art-desc,
    .section-a > .art-desc,
    .section-a-page > .art-desc{
        border: .5px solid black;
        height: 100%;
        width: 100%;
    }
    
    a > img{
        max-width: 100%;
        width: 100%;
    }
    .date{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        
    }
    .date > h1{
        grid-column: 2/4;
        width: 100%;
        align-self: center;
        justify-self: center;
        text-align: center;
        color: #aaa;
    }
    .section-a a{
        grid-column: 2/3;
        align-self: center;
    }
    
    .section-a > .art-desc{
        grid-column: 3/4;
        align-self: center;
    }
    .section-a-page a{
        grid-column: 2/4;
        align-self: center;
        display: flex;
        justify-content: center;
    }
    .section-a-page .art-desc{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .section-b a{
        grid-column: 3/4;
    }
    .section-b > .art-desc{
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
    
    }
    .section-c a{
        grid-column: 2/3;
    }
    .section-c > .art-desc{
        grid-column: 3/4;
        align-self: center;
    }
    .art-desc{
        align-items: center;
    }
    .art-desc > p{
        font-size: 1.17em;
        line-height: 1.5em;
        text-align: center;
    }
    /* ART PAGES  */
    .section-a-page{
        position: relative;
    }
    .section-a-page .art-desc p{
        padding: 1em 10em;
    }
    .contact{
        width: 40%;
        align-self: center;
    }
    /* fullscreen images  */
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
        height: 100%;
    }
    .overlay img{
        max-width: 99%;
        max-height: 99%;
        width: auto;
        height: auto;
        transform: scale(.95);
        transition: scale 1s;

    }
    .overlay:target{
        visibility: visible;
        outline: none;
        cursor: default;
        opacity: 1;

    }
    .overlay:target img{
        transform: scale(1);
    }
    /* FOOTER  */
    footer{
        background: linear-gradient(0deg, lightblue, #eee);
        
    }
    footer > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        color: #fff;
    }
    footer > ul li{
        list-style: none;
        font-size: 1.4em;
    }
    .t-shirts{
        position: fixed;
        top: 40vh;
        margin-left: 30px;
        padding-left: 30px;
        background: linear-gradient(45deg, #eee, lightblue);
    }
    .floating-artist{
        position: fixed;
        margin-left: 30px;
        padding-left: 30px;
        background: linear-gradient(45deg, #eee, lightblue);
    }
    .t-shirts ul,
    .floating-artist ul{
        display: none;
    }
    .t-shirts ul li,
    .floating-artist ul li{
        font-size: 1.3em;
        list-style: none;
        padding: 1em;
    }
    .t-shirts ul li a,
    .floating-artist ul li a{
        color: #444;
    }
    .t-shirts h1:hover,
    .floating-artist h1:hover{
        cursor: pointer;
    }
    .artist-list ul li a{
        color: #333;
    }
    .artist-list ul li{
        padding: .5em 0;
    }
    .contacts{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .artist-list ul li .contacts li a{
        padding-right: 5px;
        color: #555;
        font-size: 1em;
    }
}
/* landscape orientation */
@media screen and (orientation: landscape){
    img{
        object-fit: contain;
    }
}